@media print {
    body {
        margin: 0;
        color: #000;
        background-color: #fff;
    }
    nav,
    footer,
    br,
    .projects {
        display: none;
    }
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    div {
        text-align: center;
        font-size: 12px;
    }
}