* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Open sans;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.t14px {
    font-size: 14px;
}

.brline {
    line-break: strict;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.starting_screen {
    height: 95vh;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08)), url(../img/bg.jpg) center center/cover no-repeat;
}

.navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #171717;
    color: #ffffff;
    font-family: Open sans;
    text-decoration: none;
    z-index: 10;
}

.starting_flex_container {
    height: 5vh;
    min-height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    padding-right: 55px;
    gap: 21px;
    white-space: nowrap;
}

.heading {
    color: inherit;
    padding: 100px 0 0 48px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}

.heading_container {
    margin: 48 auto;
}

.heading_name {
    font-size: 36px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: right;
}

.heading_description {
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: right;
}

@media screen and (max-device-width:1024px),
screen and (max-width:1024px) {
    .starting_screen {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 76.56%, rgba(0, 0, 0, 0.46) 95.13%), linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08)), url(../img/bg.jpg) center center/cover no-repeat;
    }
    .heading {
        padding: 0px 0 0 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .heading_name {
        font-size: 48px;
        margin: 0 0 20px;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-top: 75vh;
    }
    .heading_description {
        font-size: 20px;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}

@media screen and (max-device-width:768px),
screen and (max-width:768px) {
    .heading_name {
        font-size: 36px;
        line-height: 25px;
    }
    .heading_description {
        font-size: 20px;
    }
}

.profile {
    background-color: #FFFFFF;
}

.profile_flex_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about_me {
    flex-direction: column;
}

.red_square {
    width: 41vw;
    height: 76vh;
    background: #E66952;
    margin-right: 50px;
}

.about_me_text {
    font-weight: 600;
    font-size: 120px;
    line-height: 120px;
    color: #353A40;
    font-family: Quicksand;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.profile_text {
    flex-direction: column;
    flex: 1;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    line-height: 45px;
    color: #353A40;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 80px;
}

@media screen and (max-device-width:1024px),
screen and (max-width:1024px) {
    .about_me_text {
        font-size: 100px;
    }
    .profile_text {
        font-size: 22px;
        line-height: 39px;
        margin-right: 50px;
    }
}

@media screen and (max-device-width:768px),
screen and (max-width:768px) {
    .red_square {
        left: 0px;
        width: 30vw;
        height: 76vh;
        background: #E66952;
    }
    .about_me_text {
        font-size: 90px;
        transform: rotate(270deg);
        white-space: nowrap;
    }
    .profile_text {
        font-size: 19px;
        line-height: 39px;
        color: #353A40;
        margin-right: 30px;
    }
    br {
        display: none;
    }
}

@media screen and (max-device-width:500px),
screen and (max-width:500px) {
    .about_me_text {
        font-size: 80px;
        transform: rotate(270deg);
        white-space: nowrap;
    }
    .profile_text {
        font-size: 18px;
        line-height: 37px;
    }
}

@media screen and (max-device-width:480px),
screen and (max-width:480px) {
    .red_square {
        width: 20vw;
        margin-right: 20px;
    }
    .about_me_text {
        font-size: 50px;
    }
    .profile_text {
        font-size: 14px;
        line-height: 32px;
        margin-right: 15px;
    }
}

@media screen and (max-device-width:375px),
screen and (max-width:375px) {
    .red_square {
        width: 15vw;
        height: 55vh;
        margin-right: 20px;
    }
    .about_me_text {
        font-size: 30px;
        font-weight: 600;
    }
    .profile_text {
        font-size: 14px;
        line-height: 32px;
        margin-right: 15px;
    }
}

.timeline {
    background-color: #292929;
    color: #FFFFFF;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
}

.timeline_flex_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 54px;
    padding: 77px 0 44px;
    text-align: center;
}

.timeline_description {
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 44px;
    width: 76vw;
}

.main_timeline {
    display: flex;
    flex-direction: row;
}

.timeline_left {
    text-align: right;
    flex-direction: column;
    width: 443px;
    height: 157px;
    margin: 195px 24px 0 0;
}

.timeline_right {
    flex-direction: column;
    width: 443px;
    height: 157px;
    margin: 42.5px 0 0 24px;
}

.timeline_dots {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 12px;
    z-index: 1;
}

.red_dot {
    background: #E66952;
}

.grey_dot {
    background: #808080;
}

.first_dot {
    margin-top: 50px;
}

.vtdk_dot {
    margin-top: 131px;
}

.margin9 {
    margin: 0 0 9px 0;
}

.timeline_year {
    display: inline-flex;
}

.box_year {
    text-align: center;
    margin: 0 auto;
    padding: 5px;
}

.red {
    width: 68px;
    height: 32px;
    background: #E66952;
}

.grey {
    width: 72px;
    height: 32px;
    background: #C4C4C4;
    color: #353A40;
}

.timeline_line {
    border: 1px solid #FFFFFF;
    width: 1px;
    background-color: #FFFFFF;
    position: absolute;
    border-radius: 12px;
    margin-left: 9px;
    z-index: 0;
}

.career_line {
    height: 224.5px;
}

.education_line {
    height: 378.5px;
}

.timeline_place_name {
    font-weight: bolder;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.03em;
}

.empty_timeline {
    margin-top: 0;
}

.has_start {
    margin: 77px 0 67px 0;
    font-size: 36px;
    line-height: 49px;
}

.abilities {
    background-color: #ffffff;
}

.abilities_flex_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.abi {
    margin: 48px 0 35px 0;
    color: 292929;
}